* {
  font-family: "inter", sans-serif;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 #00000033;
}

#nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  height: 2rem;
  width: 2rem;
  margin-right: -1rem;
}

#nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
  font-family: Inter, sans-serif;
  font-size: 0.75rem;
  color: #57626b;
  cursor: pointer;
  margin-left: -1rem;
}

#active-item {
  color: #1a73e8;
  font-weight: bold;
  text-decoration: none;
}

#smartwatch {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

#smartwatch:hover {
  font-weight: bold;
}

.burguerMenu {
  display: none;
}

#nav-icons {
  display: flex;
  gap: 0.8rem;
  cursor: pointer;
}

a {
  position: relative;
}

/* Media query para tablets  */
@media (max-width: 915px) {
  navbar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    box-shadow: 0 6px 5px #020e0e14;
    height: 10%;
    font-size: 12px;
    color: #57626b;
  }

  #nav-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-left: 8%;
  }
}

/* Media query para móviles */
@media (max-width: 431px) {
  navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    box-shadow: 0 6px 5px #020e0e14;
    height: 10%;
    font-size: 12px;
    color: #57626b;
  }

  #nav-list {
    display: none;
  }

  .burguerMenu {
    order: 3;
    align-items: center;
    display: flex;
    font-size: 20px;
    color: #1a73e8;
  }

  #nav-icons {
    display: none;
  }
}
