* {
  font-family: "inter", sans-serif;
}
footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: end;
  background-color: #f8f9fa;
  height: 30px;
}

#redesSociales {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 10%;
  padding-left: 15%;
  height: 25px;
}

#espacio-derecha {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: start;
  width: 100%;
  font-size: 8px;
  color: #57626b;
  padding-right: 5%;
}
#espanha {
  column-gap: 15px;
}

/* Media query para tablets */
@media screen and (min-width: 768px) and (max-width: 992px) {
  * {
    font-family: "Inter", sans-serif;
  }
  footer {
    align-items: center;
  }

  #redesSociales {
    width: 20%;
    margin-left: -90px;
  }

  #espacio-derecha {
    align-items: center;
    width: 70%;
  }
}

/* Media query para móviles */
@media screen and (max-width: 767px) {
  * {
    font-family: "Inter", sans-serif;
  }
  footer {
    justify-content: stretch;
    flex-direction: column;
    align-items: center;
    width: 101%;
    height: 35%;
  }

  #redesSociales {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 70%;
    margin-bottom: 10%;
    margin-right: 15%;
  }

  #espacio-derecha {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 50%;
    margin-bottom: 3px;
  }
  #espacio-derecha > * {
    margin-bottom: 1%;
    margin-top: 1px;
  }

  #privacy {
    order: 5;
  }
  #gNC {
    order: 4;
  }
  #salesTerm {
    order: 3;
  }
  #logoTT,
  #logoIG,
  #logoFB,
  #logoYT,
  #logoTT {
    width: 10%;
    margin-top: 20%;
  }
  #espanha {
    display: flex;
    flex-direction: row-reverse;
  }
}
