#container {
  display: flex;
  flex-direction: column;
  height: 83.9vh;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#quote {
  display: flex;
  flex-direction: column;
  align-items: center;
}
